# App Registration - Interactive/Delegated (PnP connect to the video site)
CLIENT_ID=00000000-0000-0000-0000-000000000000

# Transcript parsing
DESTINATION_FOLDER=C:\Temp\Transcripts
VTT_SEGMENT_SIZE=30

# SharePoint site and library where uploaded videos are stored
SITE_URL=https://contoso.sharepoint.com/sites/yoursite
DOCUMENT_LIBRARY=Session Recordings
SHAREPOINT_FOLDER=Recordings/2024
STREAM_ENDPOINT=/_layouts/15/stream.aspx
